<div class="py-5 text-center">
  <h2>Checkout</h2>
</div>

<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Your cart</span>
      <span class="badge badge-secondary badge-pill">{{cart_length}}</span>
    </h4>
    <ul class="list-group mb-3">
      {{#each cart_products}}
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">{{name}}</h6>
          <small class="text-muted">{{description}}</small>
        </div>
        <span class="text-muted">${{offer.price}}</span>
      </li>
      {{/each}}
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD)</span>
        <strong>${{cart_value}}</strong>
      </li>
    </ul>
  </div>
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Billing address</h4>
    <form class="needs-validation" method="POST" action="/cart/checkout" id="checkout" novalidate>
      <div class="mb-3">
        <label for="firstName">Name</label>
        <input type="text" class="form-control" name="name" placeholder="" required>
        <div class="invalid-feedback">
          Valid name is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
          <div class="invalid-feedback" style="width: 100%;">
            Your email is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="address">Address</label>
        <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St" required>
        <div class="invalid-feedback">
          Please enter your shipping address.
        </div>
      </div>

      <div class="mb-3">
        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
        <input type="text" class="form-control" name="address2" id="address2" placeholder="Apartment or suite">
      </div>

      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country">Country</label>
          <select class="custom-select d-block w-100" name="country" id="country" required>
            <option value="">Choose...</option>
            <option>United States</option>
            <option>Germany</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="state">State</label>
          <select class="custom-select d-block w-100" name="state" id="state" required>
            <option value="">Choose...</option>
            <option>Nevada</option>
            <option>Bavaria</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="zip">Zip</label>
          <input type="text" class="form-control" name="zip" id="zip" placeholder="" required>
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" id="city" placeholder="" required>
          <div class="invalid-feedback">
            City required.
          </div>
        </div>
      </div>
      <hr class="mb-4">

      <h4 class="mb-3">Payment</h4>
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input id="credit" name="paymentMethod" type="radio" value="AmazonPay" class="custom-control-input" required>
          <label class="custom-control-label" for="credit">Amazon Pay</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="paypal" name="paymentMethod" type="radio" value="PayPal" class="custom-control-input" required>
          <label class="custom-control-label" for="paypal">PayPal</label>
        </div>
      </div>

      {{#if cart_length}}
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
      {{/if}}
    </form>
  </div>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';

      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

</div>